<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ConsumidoresController</display-name>
    <servlet-name>ConsumidoresController</servlet-name>
    <servlet-class>java.com.unu.controllers.ConsumidoresController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsumidoresController</servlet-name>
    <url-pattern>/ConsumidoresController</url-pattern>
  </servlet-mapping>
  <display-name>foundationSYF</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmpleadoController</display-name>
    <servlet-name>EmpleadoController</servlet-name>
    <servlet-class>java.com.unu.controllers.EmpleadoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpleadoController</servlet-name>
    <url-pattern>/EmpleadoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VentasController</display-name>
    <servlet-name>VentasController</servlet-name>
    <servlet-class>java.com.unu.controllers.VentasController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VentasController</servlet-name>
    <url-pattern>/VentasController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProveedoresController</display-name>
    <servlet-name>ProveedoresController</servlet-name>
    <servlet-class>java.com.unu.controllers.ProveedoresController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProveedoresController</servlet-name>
    <url-pattern>/ProveedoresController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuministrosController</display-name>
    <servlet-name>SuministrosController</servlet-name>
    <servlet-class>java.com.unu.controllers.SuministrosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuministrosController</servlet-name>
    <url-pattern>/SuministrosController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProduccionController</display-name>
    <servlet-name>ProduccionController</servlet-name>
    <servlet-class>java.com.unu.controllers.ProduccionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProduccionController</servlet-name>
    <url-pattern>/ProduccionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContratosController</display-name>
    <servlet-name>ContratosController</servlet-name>
    <servlet-class>java.com.unu.controllers.ContratosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContratosController</servlet-name>
    <url-pattern>/ContratosController</url-pattern>
  </servlet-mapping>
</web-app>